sw/trunk/sw-tomcat/resources/model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.siebentag.com/steamboat/xsd" 
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:hj="http://hyperjaxb3.jvnet.org/ejb/schemas/customizations"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" 
	xmlns:sw="http://www.siebentag.com/steamboat/xsd"
	jaxb:version="1.0"
	jaxb:extensionBindingPrefixes="hj">

	<annotation>
		<appinfo>
			<jaxb:globalBindings generateIsSetMethod="true"/>
			<jaxb:schemaBindings>
				<jaxb:package name="com.siebentag.cj.model"/>
			</jaxb:schemaBindings>
		</appinfo>
	</annotation>

	<annotation>
		<documentation xml:lang="en">Copyright 2008</documentation>
	</annotation> 
  
    <simpleType name="Ordinal">
    	<restriction base="int">
    		<minInclusive value="1" />
    	</restriction>
    </simpleType>

    <simpleType name="Username">
    	<restriction base="string">
    		<minLength value="4" />
    		<maxLength value="32" />
    		<whiteSpace value="collapse" />
    		<pattern value="\w[\w\d]{3,31}" />
    	</restriction>
    </simpleType>

    <complexType name="Ball">
    	<sequence>    		
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="ordinal" type="sw:Ordinal" />
    	
    		<element name="striker" type="sw:Player" />
    		<element name="nonStriker" type="sw:Player" />
    		<element name="bowler" type="sw:Player" />
    		<element name="fielder" type="sw:Player" />
    		<element name="keeper" type="sw:Player" />

    		<element name="ballCountsForBowler" type="boolean" />
    		<element name="ballCountsForBatsman" type="boolean" />
    		<element name="runsForBowler" type="int" />
    		<element name="runsForBatsman" type="int" />
    		<element name="runsForTeam" type="int" />
    		
    		<element name="wicket" type="sw:Wicket" />
    		<element name="extra" type="sw:Extra" />
    		<element name="boundaryType" type="sw:BoundaryType" />
    	</sequence>
    </complexType>

    <complexType name="Wicket">
    	<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="batsman" type="sw:Player" />
    		<element name="wicketType" type="sw:WicketType" />
    		<element name="isOut" type="boolean" />
    	</sequence>
    </complexType>
    
    <complexType name="Extra">
    	<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="wide" type="int" />
    		<element name="noball" type="int" />
    		<element name="legbye" type="int" />
    		<element name="bye" type="int" />
    		<element name="other" type="int" />
    	</sequence>
    </complexType>

	<simpleType name="BoundaryType">
    	<restriction base="string">
    		<enumeration value="None" />
    		<enumeration value="Four" />
    		<enumeration value="Six" />
    	</restriction>
	</simpleType>

    <simpleType name="WicketType">
    	<restriction base="string">
    		<enumeration value="Bowled" />
    		<enumeration value="Caught" />
    		<enumeration value="CaughtBehind" />
    		<enumeration value="CaughtAndBowled" />
    		<enumeration value="RunOut" />
    		<enumeration value="LBW" />
    		<enumeration value="Mankad" />
    		<enumeration value="Stumped" />
    		<enumeration value="HitWicket" />
    		<enumeration value="NotOut" />
    		<enumeration value="Retired" />
    		<enumeration value="RetiredHurt" />
    	</restriction>
    </simpleType>

	<complexType name="Competition">
		<sequence>
  			<element name="competitionId" type="string">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
  			<element name="name" type="string" />
  			<element name="description" type="string" />
			<element name="seasons" type="sw:SeasonCollection" />
		</sequence>
	</complexType>

	<complexType name="SeasonCollection">
		<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
			<element name="seasons" type="sw:Season" minOccurs="0" maxOccurs="unbounded" />
			<element name="comment" type="string" />
		</sequence>
	</complexType>

	<complexType name="Season">
		<sequence>
  			<element name="seasonId" type="string">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="description" type="string" />
    		<element name="startDate" type="date" />
    		<element name="endDate" type="date" />
    		<element name="matches" type="sw:MatchCollection" />
		</sequence>
	</complexType>

	<complexType name="MatchCollection">
		<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
			<element name="matches" type="sw:Match" minOccurs="0" maxOccurs="unbounded" />
			<element name="comment" type="string" />
		</sequence>
	</complexType>

	<complexType name="Match">
		<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="roundNumber" type="sw:Ordinal" />
    		<element name="description" type="string" />
    		<element name="startDate" type="dateTime" />
    		<element name="homeTeam" type="sw:Team"	/>
    		<element name="awayTeam" type="sw:Team"	/>
    		<element name="innings" type="sw:MatchInnings" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="MatchInnings">
    	<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="ordinal" type="sw:Ordinal" />
    		<element name="batting" type="sw:BatsmanInningsCollection" />
    		<element name="bowling" type="sw:BowlerInningsCollection" />
    	</sequence>
	</complexType>

    <complexType name="Partnership">
    	<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="ordinal" type="sw:Ordinal" />
    		<element name="balls" minOccurs="0" maxOccurs="unbounded" type="sw:Ball"/>
    	</sequence>
    </complexType>

    <complexType name="BatsmanInningsCollection">
    	<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="innings" minOccurs="0" maxOccurs="unbounded" type="sw:BatsmanInnings"/>
    		<element name="partnerships" minOccurs="0" maxOccurs="unbounded" type="sw:Partnership"/>
			<element name="comment" type="string" />
    	</sequence>
    </complexType>

    <complexType name="BatsmanInnings">
    	<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="ordinal" type="sw:Ordinal" />
    		<element name="player" type="sw:Player" />
    		<element name="balls" type="sw:BallCollection" />
    		<element name="wicket" type="sw:Wicket" />
    	</sequence>
    </complexType>
    
    <complexType name="BowlerInningsCollection">
    	<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="innings" minOccurs="0" maxOccurs="unbounded" type="sw:BowlerInnings"/>
			<element name="comment" type="string" />
    	</sequence>
    </complexType>

    <complexType name="BowlerInnings">
    	<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="ordinal" type="sw:Ordinal" />
    		<element name="player" type="sw:Player" />
    		<element name="overs" type="sw:OverCollection" />
    	</sequence>
    </complexType>
    
    <complexType name="OverCollection">
    	<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="overs" minOccurs="0" maxOccurs="unbounded" type="sw:Over"/>
			<element name="comment" type="string" />
    	</sequence>
    </complexType>

    <complexType name="Over">
    	<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="ordinal" type="sw:Ordinal" />
    		<element name="balls" type="sw:BallCollection" />
    	</sequence>
    </complexType>

    <complexType name="BallCollection">
    	<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="balls" minOccurs="0" maxOccurs="unbounded" type="sw:Ball"/>
			<element name="comment" type="string" />
    	</sequence>
    </complexType>

	<complexType name="Team">
    	<sequence>
  			<element name="id" type="string">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="name" type="string" />
    		<element name="players" type="sw:PlayerCollection" />
    	</sequence>
	</complexType>

    <complexType name="PlayerCollection">
    	<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="players" minOccurs="0" maxOccurs="unbounded" type="sw:Player"/>
			<element name="comment" type="string" />
    	</sequence>
    </complexType>

    <complexType name="Player">
    	<sequence>
  			<element name="username" type="sw:Username">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="firstName" type="string" />
    		<element name="surname" type="string" />
    		<element name="displayName" type="string" />
    		<element name="origin" type="string" />
    		<element name="dob" type="date" />
    		<element name="role" type="string" />
    		<element name="battingStyle" type="string" />
    		<element name="bowlingStyle" type="string" />
    		<element name="height" type="string" />
    		<element name="pictureUrl" type="string" />
    		<element name="attributes" type="sw:Attributes" />
    	</sequence>
    </complexType>
    
    <complexType name="Location">
    	<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="city" type="string" />
    		<element name="country" type="sw:Country" />
    	</sequence>
    </complexType>
    
    <complexType name="Country">
    	<sequence>
  			<element name="code" type="string">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="name" type="string" />
    		<element name="flag" type="string" />
    		<element name="primaryColour" type="string" />
    		<element name="secondaryColour" type="string" />
    		<element name="tertiaryColour" type="string" />
    	</sequence>
    </complexType>
    
    <complexType name="Attributes">
    	<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="batting" type="sw:BattingAttributes" />
			<element name="comment" type="string" />
    	</sequence>
    </complexType>
    
    <complexType name="BattingAttributes">
    	<sequence>
  			<element name="objectId" type="long">
  				<annotation><appinfo><hj:id /></appinfo></annotation>
  			</element>
    		<element name="ability" type="int" />
    		<element name="timing" type="int" />
    		<element name="power" type="int" />
    	</sequence>
    </complexType>
</schema>